<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test task rtsoft</title>
  <style>
      @font-face {
        font-family: 'Golos';
        src: url('../assets/Golos-Text+UI.web/PT/PT/Golos-UI/golos-ui_bold.woff') format('woff');
        }
      body {
        font-family: 'Golos', sans-serif;
      }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
